.love-rectangle {
  width: 100%;
  height: 750px;
  flex-shrink: 0;
  background-color: #000;
}

h3 {
  color: var(--Misc-White, #fff);
  font-family: Simplon Norm;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

p {
  color: var(--Misc-White, #fff);
  font-family: Simplon Norm;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.love-row {
  padding-top: 79;
}

input {
  width: 300px;
  height: 48px;
  background: #fff;
  padding: 14px 24px;
  align-items: center;
  gap: 8px;
}

button {
  border-radius: 5px;
  border: 1.143px solid var(--Misc-White, #fff);
  opacity: 0.3;
  background: var(--Misc-Black, #000);
  width: 184px;
  height: 48px;
  color: #fff;

  font-family: Simplon Norm;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

/* media queries  */
/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
  .love-rectangle{
    height: auto !important;;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .love-rectangle{
    height: auto !important;;
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .love-rectangle{
    height: auto !important;;
  }
  input {
    width: 25rem;
    height: 3rem;
    background: #fff;
    padding: 14px 24px;
    align-items: center;
    gap: 8px;
  }
  h3 {
    color: var(--Misc-White, #fff);
    font-family: Simplon Norm;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  p {
    color: var(--Misc-White, #fff);
    font-family: Simplon Norm;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .love-rectangle{
    height: auto !important;;
  }
  input {
    width: 25rem;
    height: 3rem;
    background: #fff;
    padding: 14px 24px;
    align-items: center;
    gap: 8px;
  }
  h3 {
    color: var(--Misc-White, #fff);
    font-family: Simplon Norm;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  p {
    color: var(--Misc-White, #fff);
    font-family: Simplon Norm;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
  .love-rectangle{
    height: auto !important;;
  }
  input {
    width: 25rem;
    height: 3rem;
    background: #fff;
    padding: 14px 24px;
    align-items: center;
    gap: 8px;
  }
  h3 {
    color: var(--Misc-White, #fff);
    font-family: Simplon Norm;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  p {
    color: var(--Misc-White, #fff);
    font-family: Simplon Norm;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
