.topheader {
  padding: 8px 274px;
  background-color: #000;
  font-family: Simplon Norm;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.col-4 {
  color: #eb4c6b;
}

.logo {
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
}
.animated-text {
  white-space: nowrap;
  overflow: hidden;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* media query */
@media (min-width: 768px) and (max-width: 991px) {
  .lov-col {
    display: inline-block;
    width: 100%; 
    box-sizing: border-box; 
  }
}

/* Custom styles for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Add your styles here */
}

/* Custom styles for screens larger than 1200px */
@media (min-width: 1200px) {
  /* Add your styles here */
}